.title {
    font-size: 40px;
    font-family: 'Sofia', cursive;
    font-style: normal;
    font-weight: 400;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colorPrim {
    color: #0085ff;
}

form .submit {
    background: linear-gradient(90deg, #56aeff -3.15%, #e43cff 104.33%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -3px -3px 4px rgba(0, 0, 0, 0.25),
        inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    font-family: "Rochester";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    grid-area:l;
    max-height: 45px;
}

form .submit:hover{
    color:#fff;
}

form .submit:focus-within{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -3px -3px 4px rgba(0, 0, 0, 0.25),
        inset 0px 4px 4px rgba(255, 255, 255, 0.25),
        0 0 0 0.25rem rgb(13 110 253 / 25%);
}

form .submit:active{
    box-shadow: none;
}

.link {
    display: flex;
    justify-content: center;
    font-family: "Rochester";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-decoration-line: underline;
    cursor: pointer;
    width: 100%;
}

.text{
    display: flex;
    justify-content: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items:center;
}

.nr{
    grid-area: nr;
}

.cra{
    grid-area: cra;
}

@media(min-width:425px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
            "r f"
            "l l"
            "nr cra";
        align-items: center;
        gap:5px 10px;
    }
    .registerContainer{
        display: grid;
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
            "r r"
            "l l"
            "nr cra";
        align-items: center;
        gap:10px;
    }
}
