ul {
    top: 20px;
    margin: 0;
}
.menu {
    position: relative;
    width: 280px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    position: absolute;
    list-style: none;
    transform-origin: 140px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(100px);
    left: 0;
}

.menu.active li {
    left: 0;
    top: 120px;
    transform: rotate(calc(360deg / 8 * var(--i)));
}

.menu.active li a.active{
    transform: rotate(calc(-45deg * var(--i)))
}

.menu li a {
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    color: #111;
    transition: 0.5s;
    position: relative;
}

a svg {
    width: 100%;
    height: 30px;
}

.menu li a:hover {
    color: #ff1252;
}

.toggle {
    --width: 140px;
    position: absolute;
    width: var(--width);
    height: var(--width);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: transform 1.25s;
    /* overflow: hidden; */
    opacity: 1;
    font-size: 20px;
    z-index: 2;
    box-shadow: inset 3px 6px 4px rgba(215, 121, 231, 0.25), inset -5px -2px 4px rgba(252, 255, 130, 0.25);
}

.progress_ring {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
}

.progress_ring .circle {
    position: absolute;
    top: 0;
    left: 0;
    stroke-width: 4;
    fill: transparent;
    transform: translateX(30px) translateY(30px) rotate(270deg);
    transform-origin: top left;
}

.percent {
    display: flex;
    justify-content: center;
    margin-top: 0.1rem;
    font-size: 13px;
}

@keyframes calling {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.call {
    --a: 100px;
    content: "";
    width: var(--a);
    height: var(--a);
    border-radius: 50%;
    position: absolute;
    animation: calling 2s ease infinite;
    background: #fff;
    z-index: -2;
}

.accountData {
    font-size:inherit;
}

.call:nth-child(2) {
    animation-delay: 0.5s;
}

.text{
    display: none;
}

.progressBar{
    display: none;
}

@media (min-width: 768px) {
    .progress_ring{
        display: none;
    }
    .menu.active li {
        top: 0;
        transform: none;
    }
    .menu.active li a.active{
        transform: none;
    }
    .progressBar{
        min-height: 85%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        transform: translateY(20px);
    }
    li p{
        color:rgb(255, 0, 0);
    }
    .text{
        display: flex;
        justify-content: center;
    }
    .progressBar div{
        border-radius: 20px 20px 0 0;
        padding-top: 5px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .menu {
        width: 100%;
        grid-area: data;
        display:grid;
        grid-template-columns: .7fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:"data stat";
        justify-items: center;
    }
    .call{
        display:none;
    }

    .toggle {
        width: 270px;
        height: 100%;
        border-radius: 50px;
        justify-content: space-around;
        grid-area:data;
    }
    .accountData {
        font-size: 30px;
    }
    .menu ul {
        grid-area: stat;
        display: flex;
        height: 100%;
        align-items: flex-end;
        padding: 0;
        margin: 0;
        gap:5px;
        bottom: 0;
    }
    .menu li {
        position: relative;
        transform-origin: 0px;
        transform: none;
        height: 100%;
    }
    .menu li a{
        --size: 45px;
        height: var(--size);
        width: var(--size);
        transform: none;
    }
}

@media (min-width: 1024px) {
    .toggle{
        cursor:default;
    }
    .menu li a{
        --size: 60px;
        height: var(--size);
        width: var(--size);
        transform: none;
    }
    .menu ul {
        grid-area: stat;
        display: flex;
        height: 100%;
        align-items: flex-end;
        padding: 0;
        margin: 0;
        gap:10px;
        bottom: 0;
    }
    .progressBar div{
        border-radius: 40px 40px 0 0;
        padding-top: 5px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .progressBar{
        min-height: 85%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        transform: translateY(30px);
    }
}
