.main_layout nav svg{
    height: 40px;
    width: 40px;
    fill:#fff;
}

.main_layout nav button{
    background-color:transparent;
}

.date{
    font-size: 30px;
    color:#fff;
}

.day{
    font-size:3rem;
    margin-bottom: 0px;
}
.month{
    font-size: 2rem;
}