.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(159.56deg, rgba(255, 255, 255, 0.4) -8.52%, rgba(255, 255, 255, 0.1) 112.08%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    backdrop-filter: blur(40px);
}

@media (min-width:320px){
    .cardWrapper{
        width:280px;
    }
}
@media (min-width:425px){
    .cardWrapper{
        width:400px;
    }
}